#gallery {
  width: 600px;
}
.demo1 {
	float:left;  /*还可以用：display:inline-block代替,但IE6、7将不支持，若希望其得到支持，则可以查看：
	http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/
	*/
	position: relative;
	overflow:hidden;
	width:180px;
	height:140px;
	margin: 10px;
	-webkit-box-shadow:#777 2px 2px 8px ; 
	   -moz-box-shadow:#777 2px 2px 8px;
         -o-box-shadow:#777 2px 2px 8px;
            box-shadow:#777 2px 2px 8px;
	/*盒子阴影：其共有6个参数
	参考资料：http://www.w3cplus.com/content/css3-box-shadow
	*/
	-webkit-border-radius: 1em;
       -moz-border-radius: 1em;
         -o-border-radius: 1em;
	        border-radius: 1em;
}

.demo1  img{
	display:block;
	padding: 10px;
}